Source: libstrictures-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Florian Schlichting <fsfs@debian.org>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 12)
Build-Depends-Indep: libbareword-filehandles-perl,
                     libindirect-perl,
                     libmultidimensional-perl,
                     perl
Standards-Version: 4.4.0
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libstrictures-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libstrictures-perl.git
Homepage: https://metacpan.org/release/strictures

Package: libstrictures-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends}
Suggests: libbareword-filehandles-perl,
          libindirect-perl,
          libmultidimensional-perl
Description: Perl module to turn on strict and make all warnings fatal
 strictures turns on strict and makes all warnings fatal. If run within test
 cases from VCS checkouts, it will also cause bareword filehandles, indirect
 object syntax and multidimensional array emulation to raise a fatal error. To
 actually turn on these checks and stop strictures to complain about missing
 modules, the recommended packages libbareword-filehandles-perl,
 libindirect-perl and libmultidimensional-perl need to be installed.
